# Rust
/target/
Cargo.lock
**/*.rs.bk

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store

# sus specific
.sus-watcher-seq
.sus/

# Logs
*.log

awesome-express-starter